.vidz:hover {
    transform: scale(1.2);
}

.nav-link {
    transform: scale(1.1);

}

.h3:hover {
    transform: scale(0.9);
}

.img-fluid:hover {

    transform: scale(1);
}

.h1_nokia:hover {

    transform: scale(1);
}

.h1_fridge:hover {

    transform: scale(1);
}

.arrow {
    transition: 0.5s;
}

.btn {
    background-image: linear-gradient(to right, #FF136F 0%, #FF589B 51%, #FF136F 100%);
    margin-top: 20px;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.7s;
    background-size: 190% auto;
    color: white;
    border-color: #ffffff;
    border-radius: 15px;
    display: block;
}

.btn:hover {
    transition: 0.3s;
    transform: scale(1.3);
    color: #FF136F;
    text-decoration: none;
}

#Catogories {
    margin-left: 200px;
    gap: 10;
}

#nav-area {
    margin-left: 125px
}

#products {
    background-color: #F4F4F4;
}

#Others Material {
    background-color: #F4F4F4;
}

fa-arrow-right {
    transform: scale(0.9);
}
